.container {
    display: grid;
    grid-template-columns: 13% 87%;
    background-color: rgb(146, 75, 53);
}

.logo2 h1 {
    color: white;
    font-size: 70px;
    margin-top: 0, 5%;

}

.logo img {
    width: 200px;
    height: 200px;
}

.Menu li a {
    color: white;
    text-decoration: none;
    margin: 30px;
    font-size: 200%;
    font-weight: 900;
}

.Menu li {
    list-style: none;
    display: inline;
}

.Menu {
    background-color: black;
    width: 100%;
    height: 50px;
}